/**
 * --------------------------------------------------------------------
 * Set default style
 * --------------------------------------------------------------------
 */
* {
	margin: 0;
	padding: 0;
}

.fixed-width {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
	width: 100%;
	height: 100%;
	font-size: medium;
	font-family: $font-family;
}

.row {
	float: left;
	display: block;
	width: 100%;
	margin-bottom: $standard-margin;
}

.col-left {
	padding-left: $standard-padding;
}

.col-right {
	padding-right: $standard-padding;
}

.left {
	float: left;
}

.right {
	float: right;
}

.none-border {
	border: 0 !important;
}
/**
 * --------------------------------------------------------------------
 * Direct style
 * --------------------------------------------------------------------
 */
.arrow-left-after {
	position: relative;
}

.arrow-left-after:after {
	position: absolute;
	content: '>';
	top: 0px;
	right: 0px;
    padding: 7px 0;
    font-size: large;
    font-family: Arial;
}
/**
 * --------------------------------------------------------------------
 * Link style
 * --------------------------------------------------------------------
 */
a {
	color: $text-color;
}

a:hover {
	color: $main-color;
}
// ----------------------------------------------------------------
//		TEXT ALIGN STYLE
// ----------------------------------------------------------------
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.ellipsis-wrap {
	width: 100%;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
// ----------------------------------------------------------------
//		TEXT COLOR STYLE
// ----------------------------------------------------------------
.alert-text {
	color: $alert-color;
}

/**
 * --------------------------------------------------------------------
 * Box alias style
 * --------------------------------------------------------------------
 */
 .bulkhead {
 	float: left;
 	display: block;
 	width: 1px;
 	border-left: 1px $main-color solid;
 	margin: 0 $standard-margin;
 	height: $standard-height/2;
 }
// ----------------------------------------------------------------
//		NAVIGATOR STYLE
// ----------------------------------------------------------------
nav, .nav {
	width: 100%;
}

.nav-row {
	width: 100%;
	text-align: left;

	ul {
		list-style-type:none;
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		display: inline-block;
		padding: $standard-padding;
	}

	li.active, .active > li {
		color: $main-color;
	}

	a {
		text-decoration: none;
	}
}

.nav-col {
	padding: $standard-padding;
	border: 1px $border-color solid;

	.nav-header {
		font-weight: 600;
		padding-bottom: $standard-padding / 2;
		border-bottom: 1px $border-color solid;
	}

	ul {
		list-style-type:none;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		padding: ($standard-padding/2) $standard-padding;
		border-bottom: 1px solid $blur-color;
	}

	li.active {
		color: $main-color;
	}

	a {
		text-decoration: none;
	}
}
// ----------------------------------------------------------------
//		TABLE STYLE
// ----------------------------------------------------------------

table.main-table {
	display: block;
	border-collapse: separate;
	border-spacing: 0;
	background-color: $main-color;
	padding: $standard-padding /2 ;

	caption {
		display: table-caption;
		padding: $standard-padding 0;
		background-color: $main-color;
		color: $bg-color;
	}

	th, td {
		border: 1px $main-color solid;
		border-collapse: collapse;
		padding: ($standard-padding / 2) $standard-padding;
	}

	td,th {
		height: $standard-height;
		background-color: $bg-color;
	}
}

table.second-table {
	display: block;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: $main-color;
	padding: 0;

	caption {
		display: table-caption;
		padding: $standard-padding 0;
		background-color: $main-color;
		color: $bg-color;
	}

	th, td {
		border: 1px $main-color solid;
		border-collapse: collapse;
		padding: ($standard-padding / 2) $standard-padding;
	}

	td,th {
		height: $standard-height;
		background-color: $bg-color;
	}
}
// ----------------------------------------------------------------
//		DATEPICKER STYLE
// ----------------------------------------------------------------
#ui-datepicker-div {
	border: 2px $main-color solid;
	background-color: $bg-color;

	.ui-datepicker-header {
		color: $bg-color;
		background-color: $main-color;
		border-bottom: 1px solid $border-color;
	}

	table {
		background-color: $bg-color;
	}

	.ui-datepicker-title select {
	    font-size: medium;
	    margin: 1px 0;
	    border: 0;
	    background-color: transparent;
	    margin-top: $standard-margin /2;
	    outline: 0;
	}
}